@model SimpleBlogger.Mvc.ViewModels.BlogIndexViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.MenuPage = CreouDotCom.ViewModels.MenuPage.Blog;
}
<div>
    <ul id="blogPreviewList">
        @foreach (var item in Model.NewsModel.BlogPosts)
        {
            <li class="blogPreviewItem">

                <div class="columnContent formContainer">

                    <div class="outerFormTitle">
                        <div class="formTitle blogTitle"><a href="@item.InternalHttpPath">@item.Title</a></div>
                        <div class="clearLeft">
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9">
                                @Html.Raw(item.PostPreviewHtml)
                            </div>
                            <div class="col-sm-3">
                                @if (item.PreviewImageAvailable)
                                {
                                    <img class="blogPreviewImage" src="@Url.Content(item.PreviewImageInternalPath)" alt="blog preview image" />
                                }
                            </div>
                        </div>
                    </div>

                    <span>Tags:</span>
                    <ul class="blogTags">
                        @foreach (var tag in item.Tags)
                        {
                            <li>@tag</li>
                        }
                    </ul>

                    <div class="clear">
                    </div>
                </div>
            </li>
        }
    </ul>
</div>