<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@* IE conditional CSS selectors - http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">     <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">          <![endif]-->
<!--[if gt IE 9]>  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">                              <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Creou Software</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <link href="/content/themes/base/jquery.ui.tabs.css" rel="stylesheet" type="text/css" />
    <script src="/scripts/modernizr-2.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery-ui-1.10.2.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            // De obfuscate the email/telephone data.
            $.get("/api/email", function (data) { $(".obsc_mail").children().replaceWith(data); });
        });
    </script>

    <script type="text/javascript">
        // Google analytics tracking.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5620327-2']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    @RenderSection("Header", false)
</head>
<body>
    <div class="margins background">
        <!-- start: skip link navigation -->
        <!-- end: skip link navigation -->
        <div class="page">
            @*<div id="topnav">
                <!-- start: skip link navigation -->
                <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span
                    class="hideme">.</span> <a class="skip" title="skip link" href="#content">Skip to the
                        content</a><span class="hideme">.</span>
                <!-- end: skip link navigation -->
                <a href="#">Login</a> | <a href="#">Contact</a>
            </div>*@
            <div id="primaryContainer">
                <div id="header" class="clearContent">
                    <div id="headerBranding">
                        <h1>
                            Creou Software</h1>
                    </div>
                    <div id="headerBrandingStrap">
                        <h2>
                            Creative Software Solutions</h2>
                    </div>
                    <div id="nav">
                        <ul>
                            @if (ViewBag.MenuPage == CreouDotCom.ViewModels.MenuPage.Home)
                            {
                                <li class="active"><strong>Home</strong></li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
                            }
                            @if (ViewBag.MenuPage == CreouDotCom.ViewModels.MenuPage.CV)
                            {
                                <li class="active"><strong>CV</strong></li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Cv", MVC.Home.Cv())</li>
                            }
                            @if (ViewBag.MenuPage == CreouDotCom.ViewModels.MenuPage.Contact)
                            {
                                <li class="active"><strong>Contact</strong></li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Contact", MVC.Contact.Contact())</li>
                            }
                            @if (ViewBag.MenuPage == CreouDotCom.ViewModels.MenuPage.Blog)
                            {
                                <li class="active"><strong>Blog</strong></li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                            }
                        </ul>
                    </div>
                </div>
                <div id="teaser">
                </div>

                <div class="main container-fluid">
                    @if (IsSectionDefined("SideBar"))
                    {
                        <div class="row">
                            <div class="col-md-9">
                                @RenderBody()
                            </div>
                            <div class="col-md-3">
                                @*<div class="columnContent clearContent">*@
                                @RenderSection("SideBar", false)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @RenderBody()
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="push">
        </div>
        <div class="footer-spacer">
        </div>
    </div>
    <div id="footer">
        <div class="margins">
            <div class="footerUpper">
                <div class="footerColumn footerColumn1 companyDetails">
                    <img class="companyLogo" src="@Url.Content("/content/CreouTextLogo_Black.png")" alt="Creou Company Logo" />
                    <p>
                        Creou Software is a trading name of Creou Limited.
                        <br />
                        (Registered number 07615616)</p>
                </div>
                <div class="footerColumn footerColumn2">
                    <div class="contactDetails">
                        <h1>
                            Address</h1>
                        @Html.Partial("Address")
                    </div>
                </div>
                <div class="footerColumn footerColumn3">
                    <div class="contactDetails">
                        <h1>
                            Email</h1>
                        @Html.Partial("Email")
                        <h1>
                            Tel</h1>
                        @Html.Partial("Telephone")
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="footerLower">
                <span>Font: Square Type B by <a href="http://digitalam.deviantart.com/art/squaretypeB-125986122">
                    Digital AM</a> </span>
            </div>
        </div>
    </div>
</body>
</html>
